# Do not accidentally add the created secrets_env.yml in any directory
secrets_env.yml

# Do not accidentally add the host cert/key
/roles/delegserver/files/*.key
/roles/delegserver/files/*.crt

# Do not accidentally add the JSON web keys
/roles/delegserver/files/*.jwk

# Do not include the build artefacts
/roles/delegserver/files/oa2-cli.jar
/roles/delegserver/files/oauth2.war

# Do not include the jre.rpm (probably symlink)
/roles/delegserver/files/jre.rpm

