<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><html><head>
<title>{{ democa_name }} files</title>
</head>
<body>
{{ democa_name }} files:
<ul>
<li><A HREF="{{ democa_name }}.pem">CA Certificate</A>
<li><A HREF="{{ democa_name }}.signing_policy">CA Signing Policy</A>
<li><A HREF="crl.pem">CA CRL</A>
<li><A HREF="{{ democa_tarball }}">combined tarball including symlinks</A>
</ul>
</body>
</html>
