#!/bin/sh

# Default variables
revokequeuedir={{ revoke_queue_dir }}

# Check command line argument(s)
if [ $# -lt 1 ];then
    echo "Usage: $(basename $0) <hex serial(s)>" >&2
    exit 0
fi

# Set umask
umask 0022

# Create revoke directory when needed
if [ ! -d "$revokequeuedir" ];then
    mkdir -p $revokequeuedir
    echo "Created directory \"$revokequeuedir\""
fi
cd $revokequeuedir

# Add new revokes when applicable
for arg in $*;do
    # Check it is a valid number
    if [ "$(echo "$arg"|sed 's/[^0-9a-fA-F]\+//')" != "$arg" ];then
	echo "Warning: skipping invalid hexadecimal number $arg" >&2
	continue
    fi

    # Prefix with 0x when needed
    if echo "$arg" | grep -ivq "^0x";then
	arg=0x$arg
    fi
    # Format the serial to be of the right OpenSSL length
    serial=$(printf "%0$(((1+$(printf "%X" $arg|wc -c))/2*2))X" $arg)
    if [ -f $serial ];then
	echo "Skipping already present serial $serial"
    else
	echo "Adding serial $serial"
	touch $serial
    fi
done
