LoadModule ssl_module modules/mod_ssl.so
Listen 443

# just publish Apache as server
ServerTokens Prod

SSLPassPhraseDialog  builtin
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300

SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin

SSLCryptoDevice builtin

<VirtualHost *:80>
    ServerName {{ inventory_hostname }}
    Redirect / https://{{ inventory_hostname }}/
</VirtualHost>

<VirtualHost _default_:443>

    ServerName {{ inventory_hostname }}

{% if server_aliases is defined %}
{% for server_alias in server_aliases %}
    ServerAlias {{ server_alias }}
{% endfor %}
{% endif %}

    # see https://securityheaders.com/ (retrieved 2018-09-05)
    # Enable HSTS (was 182 days, see below, now set to 30 days)
    Header always set Strict-Transport-Security "max-age=2592000"
    # Prevent iFrames
    Header always set X-Frame-Options "SAMEORIGIN"
    # Prevent XSS attacks: configure the built in reflective XSS protection found
    # in Internet Explorer, Chrome and Safari (Webkit).
    Header always set X-Xss-Protection "1; mode=block"
    # prevents Google Chrome and Internet Explorer from trying to mime-sniff the
    # content-type of a response away from the one being declared by the server.
    Header always set X-Content-Type-Options "nosniff"
    # Still in draft. Instructs the browser to never send the referer header with
    # requests that are made from your site.
    Header always set Referrer-Policy no-referrer
    # Only allow content from ourselves
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'"

    ErrorLog logs/ssl_error_log
    TransferLog logs/ssl_access_log
    LogLevel warn

    RewriteEngine On

# START Maintenance mode settings:
#    Header set Cache-Control "no-cache, no-store, must-revalidate"
#    Header set Pragma "no-cache"
#    Header set Expires "0"
#    RewriteRule ^.*$ /maintenance.html
# END Maintenance mode settings:

#    LogLevel alert rewrite:trace8
    # match idphint value, exclude colon since mod_rewrite otherwise gets
    # confused (newer mod_rewrite can use ; as separator)
    RewriteCond %{QUERY_STRING}     (^|&)idphint=([^:&]+)    [NC]
    # idphint cookie for domain rcauth.eu, expires 1 min., path /, https only
    RewriteRule /oauth2/authorize "-"      [CO=idphint:%2:{{ idphint_cookie_domain }}:1:/:secure:httponly]

    ProxyPass /{{ oa4mp_server }}/authorized !

    # Explicitly proxy all the server-subendpoints, instead of the server
    # endpoint itself.
    ProxyPass /{{ oa4mp_server }}/token          ajp://127.0.0.1:8009/{{ oa4mp_server }}/token
    ProxyPass /{{ oa4mp_server }}/getcert        ajp://127.0.0.1:8009/{{ oa4mp_server }}/getcert
    ProxyPass /{{ oa4mp_server }}/error          ajp://127.0.0.1:8009/{{ oa4mp_server }}/error
    ProxyPass /{{ oa4mp_server }}/authorize      ajp://127.0.0.1:8009/{{ oa4mp_server }}/authorize
    ProxyPass /{{ oa4mp_server }}/admin-register ajp://127.0.0.1:8009/{{ oa4mp_server }}/admin-register
    ProxyPass /{{ oa4mp_server }}/clients        ajp://127.0.0.1:8009/{{ oa4mp_server }}/clients
    ProxyPass /{{ oa4mp_server }}/register       ajp://127.0.0.1:8009/{{ oa4mp_server }}/register
    ProxyPass /{{ oa4mp_server }}/.well-known    ajp://127.0.0.1:8009/{{ oa4mp_server }}/.well-known
    ProxyPass /{{ oa4mp_server }}/certs          ajp://127.0.0.1:8009/{{ oa4mp_server }}/certs
    ProxyPass /{{ oa4mp_server }}/userinfo       ajp://127.0.0.1:8009/{{ oa4mp_server }}/userinfo

    ProxyPass /{{ oa4mp_server }}/RCauth-eu-logo-150.gif ajp://127.0.0.1:8009/{{ oa4mp_server }}/RCauth-eu-logo-150.gif
    ProxyPass /{{ oa4mp_server }}/rcauth.css             ajp://127.0.0.1:8009/{{ oa4mp_server }}/rcauth.css
    ProxyPass /{{ oa4mp_server }}/default.css            ajp://127.0.0.1:8009/{{ oa4mp_server }}/default.css

    ProxyRequests Off
    UseCanonicalPhysicalPort On
    UseCanonicalName On

    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3 +TLSv1
    SSLHonorCipherOrder On
    SSLCipherSuite "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH EDH+aRSA !aNULL !eNULL !MEDIUM !LOW !3DES !MD5 !EXP !PSK !SRP !DSS"
    SSLCertificateFile {{ hostcert }}
    SSLCertificateKeyFile {{ hostkey }}
{% if hostcert_intermediate is defined %}
    # Note: from Apache 2.4.8 SSLCertificateChainFile is obsolete. Probably can
    # better use SSLCACertificatePath in that case.
    SSLCertificateChainFile {{ hostcert_intermediate }}
{% endif %}

# Next one moved up
#    Header always set Strict-Transport-Security "max-age=15724800"

    CustomLog logs/ssl_request_log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

{% if webroot_redirect is defined %}
    Redirect permanent /index.html {{ webroot_redirect }}
    Redirect 301 /index.html {{ webroot_redirect }}
{% endif %}

</VirtualHost>


