interface={{ private_ds_interface }}
domain={{ private_domain }}
local=/{{ private_domain }}/
bogus-priv
# Also resolve non-local names, although we don't need it for yum (handled by
# squid) we need it for e.g. installing RPM keys directly.
#no-resolv

#mx-target={{ private_ds_fqdn }}
localmx
mx-host={{ private_ca_fqdn }},{{ private_mx_default }},10
mx-host={{ private_ca_fqdn }},{{ private_mx_backup }},20

mx-host={{ private_ca_fqdn1 }},{{ private_mx_default }},10
mx-host={{ private_ca_fqdn1 }},{{ private_mx_backup }},20

mx-host={{ private_ca_fqdn2 }},{{ private_mx_default }},10
mx-host={{ private_ca_fqdn2 }},{{ private_mx_backup }},20

mx-host={{ private_ds_fqdn }},{{ private_mx_default }},10
mx-host={{ private_ds_fqdn }},{{ private_mx_backup }},20

mx-host={{ private_ds_fqdn1 }},{{ private_mx_default }},10
mx-host={{ private_ds_fqdn1 }},{{ private_mx_backup }},20

mx-host={{ private_ds_fqdn2 }},{{ private_mx_default }},10
mx-host={{ private_ds_fqdn2 }},{{ private_mx_backup }},20


#log-dhcp
#log-queries
#log-facility=/var/log/dnsmasq.log
