# Configured using Ansible
NAME={{ private_ds_interface }}
DEVICE={{ private_ds_interface }}
BOOTPROTO=static
ONBOOT=yes
NETWORK={{ private_network }}
NETMASK={{ private_network | ipaddr('netmask') }}
IPADDR={{ private_ds_address }}
IPV6INIT=no
IPV6_AUTOCONF=no
NM_CONTROLLED=no
