# Firewall configuration crafted by /root/install-scripts/iptables-service-el7.sh adapted by ansible
# initial configuration class:
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:RH-FW-1-INPUT - [0:0]
:LOCAL-INPUT - [0:0]
:TRUSTED-INPUT - [0:0]
:OUTPUT-FILTER - [0:0]
-A INPUT -j RH-FW-1-INPUT
-A FORWARD -j RH-FW-1-INPUT
-A OUTPUT -j OUTPUT-FILTER

# RH-FW-1-INPUT Chain

-A RH-FW-1-INPUT -i lo -j ACCEPT
-A RH-FW-1-INPUT -p icmp --icmp-type any -j ACCEPT
# service peers from anywhere can ssh in for sync (and more, to be defined)
-A RH-FW-1-INPUT -m set --match-set service_peers4 src -p tcp --dport 22 -m state --state NEW -j LOG --log-prefix "SSH ACCEPT: "
-A RH-FW-1-INPUT -m set --match-set service_peers4 src -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
# ssh access from trusted nets should not be rate-limited
-A RH-FW-1-INPUT -m set --match-set net_trusted_input4 src -p tcp --dport 22 -m state --state NEW -j LOG --log-prefix "SSH ACCEPT: "
-A RH-FW-1-INPUT -m set --match-set net_trusted_input4 src -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
# ssh scanning block
-A RH-FW-1-INPUT -p tcp -m state --state NEW --dport 22 -m recent --name sshattack --set
-A RH-FW-1-INPUT -p tcp --dport 22 -m state --state NEW -m recent --name sshattack --rcheck --seconds 30 --hitcount 4 -j LOG --log-prefix "SSH REJECT: "
-A RH-FW-1-INPUT -p tcp --dport 22 -m state --state NEW -m recent --name sshattack --rcheck --seconds 30 --hitcount 4 -j REJECT --reject-with tcp-reset
# related goes through
-A RH-FW-1-INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
# public services that may go through
#-A RH-FW-1-INPUT -m state --state NEW -m tcp -p tcp --dport 80 -j ACCEPT
-A RH-FW-1-INPUT -m state --state NEW -m tcp -p tcp --dport 443 -j ACCEPT
#
# Private network towards backend CA
-A RH-FW-1-INPUT -i {{ private_ds_interface }} -s {{ private_ca_address }} -d {{ private_ds_address }} -p tcp --dport 22 -j ACCEPT
-A RH-FW-1-INPUT -i {{ private_ds_interface }} -s {{ private_ca_address }} -d {{ private_ds_address }} -p tcp --dport 25 -j ACCEPT
-A RH-FW-1-INPUT -i {{ private_ds_interface }} -s {{ private_ca_address }} -d {{ private_ds_address }} -p tcp --dport 3128 -j ACCEPT
-A RH-FW-1-INPUT -i {{ private_ds_interface }} -s {{ private_ca_address }} -d {{ private_ds_address }} -p udp --dport 53 -j ACCEPT
-A RH-FW-1-INPUT -i {{ private_ds_interface }} -s {{ private_ca_address }} -d {{ private_ds_address }} -p udp --dport 123 -j ACCEPT
#
# split between local and foreign
-A RH-FW-1-INPUT -m set --match-set net_local_input4 src -j LOCAL-INPUT
# further remote access is rejected and not icmped
-A RH-FW-1-INPUT -j DROP
#
#
# LOCAL rules follow here
#
# rsync-backup service
-A LOCAL-INPUT -m set --match-set net_backupservice4 src -m state --state NEW -m tcp -p tcp --dport 873 -j ACCEPT
#
# specific additions for trusted traffic or drop
-A LOCAL-INPUT -m set --match-set net_trusted_input4 src -j TRUSTED-INPUT
-A LOCAL-INPUT -j REJECT --reject-with icmp-host-prohibited
#
# TRUSTED nets follow
#
-A TRUSTED-INPUT -p tcp --dport 22 -m state --state NEW -j LOG --log-prefix "SSH ACCEPT: "
-A TRUSTED-INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
-A TRUSTED-INPUT -j REJECT --reject-with icmp-host-prohibited
#
# ############## OUTPUT FILTER ##################################
#
-A OUTPUT-FILTER -o lo -j ACCEPT
-A OUTPUT-FILTER -o {{ public_ds_interface }} -j ACCEPT
-A OUTPUT-FILTER -o {{ private_ds_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT-FILTER -o {{ private_ds_interface }} -s {{ private_ds_address }} -d {{ private_ca_address }} -p tcp --dport {{ private_ca_port }} -j ACCEPT
-A OUTPUT-FILTER -m limit --limit 2/min -j LOG --log-uid --log-prefix "iptables:OUTPUT: "
-A OUTPUT-FILTER -j DROP
#
COMMIT
