driftfile /var/lib/ntp/drift

{% if inventory_hostname == groups.delegserver.0 %}
{% for ntp_addr in ntp_servers %}
server {{ ntp_addr }}
{% endfor %}
{% else %}
server {{ private_ds_address }} prefer    # delegation server clock
{% endif %}

server 127.127.1.0 # local clock
fudge  127.127.1.0 stratum 10

# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
# Permit all access over the loopback interface.
restrict default nomodify notrap nopeer noquery
restrict -6 default nomodify notrap nopeer noquery
{% if private_ca_address is defined %}
restrict {{ private_ca_address }} nomodify notrap nopeer
{% endif %}
restrict 127.0.0.1
restrict -6 ::1

# Disable the monitoring facility to prevent amplification attacks using ntpdc
# monlist command when default restrict does not include the noquery flag. See
# CVE-2013-5211 for more details.
# Note: Monitoring will not be disabled with the limited restriction flag.
disable monitor
